@import './../../variables.scss';
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h1{
            font-size: 28px;
        }
        span{
            height: 2px;
            width: 100px;
            color: $mainColor;
            background-color: $mainColor;
        }
        p{
            width: 55%;
        }
    }
}